In [156]:
text_file = open('/Users/tjjj/mia/challenges/advent_of_code/1_day.txt').read()
text_file

'97587\n100963\n85693\n127587\n147839\n134075\n128598\n91290\n119100\n138824\n56295\n132118\n105018\n143092\n89032\n104836\n138278\n60416\n62570\n142110\n55179\n80891\n99106\n122863\n108894\n112654\n117175\n96093\n76214\n65412\n124388\n66465\n115850\n147531\n87643\n75882\n62912\n76100\n102120\n83803\n139304\n139325\n126412\n145152\n136247\n68246\n130156\n59097\n79024\n62480\n121847\n54739\n118690\n116247\n117283\n144827\n147562\n126796\n148210\n109099\n98831\n59412\n141077\n121786\n142878\n140144\n57855\n59571\n118451\n149097\n145088\n76882\n53732\n70543\n89874\n114366\n115683\n99139\n108440\n76964\n134451\n109250\n66021\n132683\n149013\n122917\n137810\n108451\n109606\n94396\n106926\n100901\n108587\n99847\n64257\n147162\n133698\n140775\n129466\n72487\n'

In [157]:
modules = text_file.split('\n')

In [158]:
modules

['97587',
 '100963',
 '85693',
 '127587',
 '147839',
 '134075',
 '128598',
 '91290',
 '119100',
 '138824',
 '56295',
 '132118',
 '105018',
 '143092',
 '89032',
 '104836',
 '138278',
 '60416',
 '62570',
 '142110',
 '55179',
 '80891',
 '99106',
 '122863',
 '108894',
 '112654',
 '117175',
 '96093',
 '76214',
 '65412',
 '124388',
 '66465',
 '115850',
 '147531',
 '87643',
 '75882',
 '62912',
 '76100',
 '102120',
 '83803',
 '139304',
 '139325',
 '126412',
 '145152',
 '136247',
 '68246',
 '130156',
 '59097',
 '79024',
 '62480',
 '121847',
 '54739',
 '118690',
 '116247',
 '117283',
 '144827',
 '147562',
 '126796',
 '148210',
 '109099',
 '98831',
 '59412',
 '141077',
 '121786',
 '142878',
 '140144',
 '57855',
 '59571',
 '118451',
 '149097',
 '145088',
 '76882',
 '53732',
 '70543',
 '89874',
 '114366',
 '115683',
 '99139',
 '108440',
 '76964',
 '134451',
 '109250',
 '66021',
 '132683',
 '149013',
 '122917',
 '137810',
 '108451',
 '109606',
 '94396',
 '106926',
 '100901',
 '108587',
 '99847',
 '64257',
 '147162',
 '133698',
 '140775',
 '129466',
 '72487',
 '']

In [159]:
len(modules)

101

In [160]:
modules = [int(i) for i in modules[0:100]]

In [161]:
type(modules[1])

int

In [162]:
import pandas as pd
import math

In [163]:
df = pd.DataFrame(modules)

In [164]:
df.rename(columns={0:'mass'}, inplace=True)

In [165]:
df['fuel'] = ''

In [166]:
df.head()

     mass fuel
0   97587
1  100963
2   85693
3  127587
4  147839

In [167]:
df['mass'][4]/3

49279.666666666664

In [168]:
math.floor(df['mass'][4]/3)

49279

In [169]:
fuel_list = []
for i in df['mass']: 
    fuel_list.append(math.floor((i)/3) - 2)

In [170]:
fuel_list

[32527,
 33652,
 28562,
 42527,
 49277,
 44689,
 42864,
 30428,
 39698,
 46272,
 18763,
 44037,
 35004,
 47695,
 29675,
 34943,
 46090,
 20136,
 20854,
 47368,
 18391,
 26961,
 33033,
 40952,
 36296,
 37549,
 39056,
 32029,
 25402,
 21802,
 41460,
 22153,
 38614,
 49175,
 29212,
 25292,
 20968,
 25364,
 34038,
 27932,
 46432,
 46439,
 42135,
 48382,
 45413,
 22746,
 43383,
 19697,
 26339,
 20824,
 40613,
 18244,
 39561,
 38747,
 39092,
 48273,
 49185,
 42263,
 49401,
 36364,
 32941,
 19802,
 47023,
 40593,
 47624,
 46712,
 19283,
 19855,
 39481,
 49697,
 48360,
 25625,
 17908,
 23512,
 29956,
 38120,
 38559,
 33044,
 36144,
 25652,
 44815,
 36414,
 22005,
 44225,
 49669,
 40970,
 45934,
 36148,
 36533,
 31463,
 35640,
 33631,
 36193,
 33280,
 21417,
 49052,
 44564,
 46923,
 43153,
 24160]

In [171]:
len(fuel_list)

100

In [172]:
df['fuel'] = fuel_list

In [173]:
df.head()

     mass   fuel
0   97587  32527
1  100963  33652
2   85693  28562
3  127587  42527
4  147839  49277

In [174]:
df['fuel'].sum()

3560353

In [284]:
def find_fuel(mass):
    fuel_mass = math.floor((mass)/3) - 2
    if fuel_mass > 2: 
        find_fuel(mass=fuel_mass) 
        print (fuel_mass)
    elif fuel_mass <=2: 
        print ('less than 2')
    return fuel_mass

In [285]:
find_fuel(1969)

less than 2
5
21
70
216
654

654

In [311]:
def find_fuel_2(mass, total_mass=0):
    fuel_mass = math.floor((mass)/3) - 2
    if fuel_mass > 0: 
        total_mass = fuel_mass + total_mass
        return total_mass
        find_fuel_2(mass=fuel_mass, total_mass=total_mass+fuel_mass) 
    elif fuel_mass <=0: 
        pass

In [312]:
find_fuel_2()

TypeError: find_fuel_2() missing 1 required positional argument: 'mass'